<div class="header">
    <h1>Welcome to Okayreads!
    <img id="logo" src="https://i.imgur.com/1SdCnT9.png" alt="logo" align="right"/>
    <img id="not-logo" src="https://i.imgur.com/eRopuZP.png" alt="not logo" align="right"/>
    </h1>
    <p><i class = "subtitle-tiny">It's like GoodReads, but just okay</i></p>
</div>

<% if @current_user %>
    <div>
        <h2>Your Reviews</h2>
        <% if @current_user.reviews != []  %>
            <% @current_user.reviews.each do |review|%>
                <div class="inner">
                    Book: <%= review.book.title %> <br>
                    Title: <%= link_to review.title, review_path(review) %> <br>
                    Rating: <%= review.rating %> stars <br>
                    <%= review.content %>
                </div>
            <% end %>
        <% elsif %>
            <div class="inner">
                There's nothing here :( <br>
                    Get out there and <%= link_to "read something", books_path %>
            </div>
        <% end%>
    </div>
<% else %>
    <% books = Book.all %>
    <div class='page-title'>
        <h1 class='nobutton'>All Books</h1>
    </div>
    <div class="authors">
        <% books.sort_by{|book| book.title}.each do |book| %>
            <%= link_to book.title, book_path(book) %> <br>
        <% end %>
    </div>
<% end %>