<div class='login'>
    <%= form_for :session, url: '/sessions' do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %> <br>

    <%= f.label :password %>
    <%= f.text_field :password %> <br>

    <%= f.submit "Login", class: 'btn'%>
    <% end %>
</div>