<div class="page-title">
    <section class="all-links">
        <h1><%= @author.name %></h1>
        <% if session[:user_id] %>
            <% @current_user = User.find(session[:user_id]) %>
            <% if @current_user.authors.include?(@author) %>
                <%= button_to "Unfavorite", unfavorite_author_path, method: "POST"%>
            <% else %>
                <%= button_to "Favorite", favorite_author_path, method:"POST"%>
            <% end%>
        <% else %>
            <%= link_to "Login to Fav", new_login_path, class: "button" %>
        <% end %>
    </section>
</div>

<div>
    <h2>Books</h2>
    <% @author.books.each do |book| %>
        <%= link_to book.title, book_path(book) %> <br>
    <% end %>
</div>

<div>
    <iframe class = "iframe"
    src="<%= "https://en.wikipedia.org/wiki/#{@author.name}" %>">
    </iframe>
</div>