<div class="page-title">
    <h1><%= @author.name %></h1>
    <% if session[:authors] %>
        <% if session[:authors].find{|h| h['id'] == @author.id} %>
            
            <%= link_to "Back to Search", search_path, class: "button" %>
        <% end %>
    <% end %>
</div>

<div>
    <h2>Books</h2>
    <% @author.books.each do |book| %>
        <%= link_to book.title, book_path(book) %> <br>
    <% end %>
    <p><%= link_to "Favourite This Author", new_favorite_path, class: 'button' %></p>
</div>

<div>
    <iframe class = "iframe"
    src="<%= "https://en.wikipedia.org/wiki/#{@author.name}" %>">
    </iframe>
</div>