<div class='form'><%= form_for @user do |f|%>
    <%= f.label :username%>
    <%= f.text_field :username%> <br>
    <%= f.label :password %>
    <%= f.text_field :password %><br>
    <%= f.label :displayname, "Display Name",  :class=>'inline betaLabelTextField'%>
    <%= f.text_field :displayname, :class=>'betaTextField'%> <br>
    <%= f.label :age %>
    <%= f.number_field :age %> <br>
    <%= f.label :location %>
    <%= f.text_field :location %> <br>
    <%= f.submit 'Submit', class: 'btn' %>
<%end%>
</div>

<%if flash[:myerrors]%>
    <div class='errors'>
        <%flash[:myerrors].each do |error| %>
            <%=error%><br>
        <%end%>
    </div>
<%end%>