<div class="page-title">
    <h1><%= "#{@user.username}'s Profile" %></h1>
    <% if session[:user_id] == @user.id %>
        <p class="link-wrapper"><%= link_to "Edit Profile", edit_user_path(@user), class: "button" %></p>
    <% end %>
</div>
<div>
    <h2>About Me</h2>
    <ul>
        <%= "Name: #{@user.displayname}" %> <br>
        <%= "Age: #{@user.age}" %> <br>
        <%= "Location: #{@user.location}" %>
    <ul>
</div>
<div>
    <h2>My Reviews</h2>
    <% if @user.reviews != []  %>
        <% @user.reviews.each do |review|%>
            <div class="inner">
                Book: <%= review.book.title %> <br>
                Title: <%= link_to review.title, review_path(review) %> <br>
                Rating: <%= review.rating %> stars <br>
                <%= review.content %>
            </div>
        <% end %>
    <% elsif %>
        <div class="inner">
            There's nothing here :( <br>
                Get out there and <%= link_to "read something", books_path %>
        </div>
    <% end%>
</div>



<div>
  <h2>My Favorite Authors</h2>
  <%= link_to "Favorite an Author!", new_favorite_path %>
  <% @user.favorites.each do |favorite| %>
  <p><%= link_to favorite.author.name, author_path(favorite.author.id) %>, Genre: <%= favorite.genre %></p>

  <p><%= button_to "Remove this author from your favorites", favorite_path(favorite.id), method: :delete %></p><br>
  <% end %>
