<!DOCTYPE html>
<html>
  <head>
    <title>Okayreads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/jpg" href="https://i.imgur.com/Be8hmZt.jpg">
  </head>

  <header class='topnav'>
    <%= link_to "Home", root_path%>
    <%= link_to "Books", books_path%>
    <%= link_to "Authors", authors_path%>
    
    <% if session[:user_id] %>
    <% @current_user = User.find(session[:user_id]) %>
    <%=link_to "My Profile", user_path(@current_user.id)%>
    <%= link_to "Log-out", sessions_logout_path, method: :delete %>

    <% else %>
    <%= link_to "Sign up", new_user_path, class: 'right' %>
    <%= link_to "Log-in", new_login_path, class: 'right' %>

    <% end %>
    

    <div class="search-container">
      <%= form_with(url: search_path, method: 'get', local: true) do %>
          <%= text_field_tag :title, nil, placeholder: 'Search Books', class: 'form-control' %>
          <button type="submit"><i class="fa fa-search"></i></button>
      <% end %>
    </div>

    <% if flash[:alert] %>
      <div class="alert alert-warning"><%= flash[:alert] %></div>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
